<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="frc.libs.utils">
    <Properties>
        <Property name="logfolder">${sys:user.home}/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <AutoTabbedLayout/>
        </Console>
        <RollingFile name="AutoRoutineTrace" fileName="${logfolder}/AutoTrace.${date:yyyy-MM-dd-HH-mm-ss}.log" filePattern="${logfolder}/AutoTrace.${date:yyyy-MM-dd-HH-mm-ss}.%i.log" ignoreExceptions="true" append="true" createOnDemand="true">
            <AutoTabbedLayout/>
            <Policies>
                <ForceTriggerPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info"/>
    
        <Logger name="AutoRoutine" level="info" additivity="false">
            <AppenderRef ref="AutoRoutineTrace"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>